*{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}
section.main_width{
margin: auto;
width: 700px;
border: 1px solid red;
}
span{
  color: #33ffff;
}
header section::after{
  clear: both;
  display: block;
  content: "";
}
header{
background-color: black;
}
.sit{
  color: white;
  float:left;
  padding: 10px;

}
nav a{
  color: white;
  text-decoration: none;
  float:right;
  margin-right: 30px;
  padding: 10px;
}
